<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/498afb2bde.js" crossorigin="anonymous"></script>
    <!-- text -->
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <!-- EXTERNAL CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/assignmentTeacher.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/logoDark.png') }}" type="image/x-icon">
</head>

<body>
    <h1>Assignments</h1>
    <div class="body">
        <div class="part1">
            <div class="assignment-stat">
                Assigned To: <span>{{ students| length }}</span>
                <br> Submitted by <span>{{ details["answers"] | length }}</span>
            </div>
            <div class="assignment">
                <div class="head">
                    <h1>{{ details["title"] }}</h1>
                    <span class="post-date"><strong>Date Posted:</strong>{{ details["postedDate"].strftime('%d/%m/%Y') }}</span>
                    <span class="submision-date"><strong>Due Date:</strong>{{ details["dueDate"].strftime('%d/%m/%Y') }}</span>
                    <hr>
                </div>
                <p>{{ details["discription"]}}</p>
            </div>
        </div>
        <div class="students">
            <div class="submitted-students">
                <h2>Submited By</h2>
                {% set k = namespace(value=0) %}
                {% for  submitedStudent in details["studentInfo"] %}
                        {% if details["answers"][k.value]["teachersComment"] %}
                            <a href="#ass{{k.value}}" class="student grn">
                                {% if submitedStudent["gender"] %}
                                    <img src="{{ url_for('static',filename='images/boy.png') }}" alt="" srcset="">
                                {% else %}
                                    <img src="{{ url_for('static',filename='images/girl.png') }}" alt="" srcset="">
                                {% endif %}
                                <h5>{{ submitedStudent["name"]}}</h5>
                            </a>
                        {% else %}
                            <a href="#ass{{k.value}}" class="student">
                                {% if submitedStudent["gender"] %}
                                    <img src="{{ url_for('static',filename='images/boy.png') }}" alt="" srcset="">
                                {% else %}
                                    <img src="{{ url_for('static',filename='images/girl.png') }}" alt="" srcset="">
                                {% endif %}
                                <h5>{{ submitedStudent["name"]}}</h5>
                            </a>
                        {% endif %}
                    {% set k.value = k.value + 1 %}
                {% endfor %}
            </div>

            
            <div class="answers">
                {% set k = namespace(value=0) %}
                {% for answer in details["answers"] %}
                    {% if answer["submitedDate"] >= details["dueDate"]%}
                        <div class="ans late" id="ass{{k.value}}">
                    {% else %}
                        <div class="ans" id="ass{{k.value}}">
                    {% endif %}
                        <div class="ansBy">
                            {% if details["studentInfo"][k.value]["gender"] :%}
                                <img src="{{ url_for('static',filename='images/boy.png') }}" alt="" srcset="">
                            {% else %}
                                <img src="{{ url_for('static',filename='images/girl.png') }}" alt="" srcset="">
                            {% endif %}
                            <h5>{{ details["studentInfo"][k.value]["name"] }}</h5>
                        </div>
                        <span class="post-date"><strong>Date Posted:</strong>{{ answer["submitedDate"].strftime('%d/%m/%Y') }}</span>
                        <hr>
                        <p>
                            {{answer["answer"]}}
                        </p>
                        <form action="{{url_for('addCommentToAns') }}" method="post">
                            <input type="hidden" name="ansId" value="{{k.value}}">
                            <input type="hidden" name="assId" value="{{assignmentId}}">
                            {% if answer["teachersComment"] %}
                                <div style="color: #ddd; background-color: #333; padding: 10px; margin-top: 10px">{{ answer["teachersComment"] }} </div>
                            {% else %}
                                <input type="text" placeholder="Grade the assignment" required name="comment">
                                <input type="submit" value="Submit">
                            {% endif %}
                        </form>
                    </div>
                    {% set k.value = k.value + 1 %}
                {% endfor %}
            </div>
        </div>
    </div>

</body>

</html>