<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% if allCourses%} 
        {% for item in allCourses %}
            <h1>{{item["courseName"]}}</h1>
            <p>{{item["discription"]}}</p>
            <h5>{{item["teacherId"]}}</h5>
            <hr>
        {% endfor %} 
    {% endif %}
</body>

</html>