{% extends "base.html" %}
{% block title %}
    <title>courseKart</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/courseView.css') }}">
{% endblock %}

{% block content %}
    <div class="infos">
            <div class="course-title">
                <h1>
                    {{courseDetails[0]["courseName"] }}
                </h1>
                <p>
                    {{courseDetails[0]["discription"] }}
                </p>
                <h5 class="duration">
                    {{courseDetails[0]["duration"] }}-months course
                </h5>
                <h5 class="total-assignment">
                    {{courseDetails[0]["assignments"]| length }} assignments
                </h5>
                {% if isEnrolled %}
                    <a href="" class="blu-btn enroll">Enrolled</a> 
                {% else %}
                    <form action="{{ url_for('enrollToCourse') }}" method="post">
                        <input type="hidden" name="courseId" value='{{courseDetails[0]["_id"] }}'>
                        <input type="submit" value="Enroll" class="blu-btn enroll">
                    </form>
                {% endif %}
            </div>
            <div class="abt-teacher">
                <h2>Course offered by</h2>
                <div class="short-info">
                    {% if courseDetails[0]["teacherId"][0]["gender"] %}
                    <img src="{{ url_for('static',filename='images/sir.png') }}" alt="" srcset=""> {% else %}
                    <img src="{{ url_for('static',filename='images/maam.png') }}" alt="" srcset=""> {% endif %}
                    <h1>{{ courseDetails[0]["teacherId"][0]["teacherName"] }}</h1>
                    <h5 class="stars">{{ courseDetails[0]["teacherId"][0]["ratings"] }} stars</h5>
                    <h4 class="position">{{ courseDetails[0]["teacherId"][0]["graduation"] }}</h4>
                </div>
                <div class="more-info">
                    <p>
                        <strong>Discription:</strong> {{ courseDetails[0]["teacherId"][0]["discription"] }}
                    </p>
                    <h3>Graduation</h3>
                    <p>
                        {{ courseDetails[0]["teacherId"][0]["graduation"] }}
                    </p>
                    <p>
                        <Strong>Some popular course:</Strong> {% for otherCourse in otherCourses %}
                        <a style="color: #9dafff;" href="{{ url_for('courseDetails' ,courseId=otherCourse['_id']) }}">{{ otherCourse["courseName"]}}</a> , {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        {% if isEnrolled %}
        <div class="notes-assignments">
            <div class="anouncements">
                <div class="anouncements-header">
                    <h2>Notes / Announcements</h2>
                </div>
                <hr>
                <div class="all-announcements" id="all-announcements">
                    <!-- <div class="announcement">
                        <div class="announcement-head">
                            <h2>You guys will have test tomorrow</h3>
                                <span>10/03/2021</span>
                        </div>
                        <p class="annu-disc">As you guys copied in cie2 ill conduct quiz for individual</p>
                    </div> -->
                </div>
            </div>
            <div class="assignment">
                <div class="assignment-headder">
                    <h2>Assignments</h2>
                </div>
                <hr>
                <div class="all-announcements" id="all-assignment">
                    {% for assignment in assignments %}
                    <div class="announcement">
                        <a href="{{ url_for('assignmentDetails' ,assignmentId=assignment['_id']) }}" target="_blank">
                            <div class="announcement-head">
                                <h2>{{ assignment["title"] }}</h3>
                                    <span>{{ assignment["postedDate"].strftime('%d/%m/%Y') }}</span>
                            </div>
                            <p class="annu-disc">{{ assignment["discription"] }}</p>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        {% endif %}
        <div class="rigistered-courses" style=" width: 100vw; color: #dfdfdf;">
            <h2>Related Courses</h2>
            <hr>
            <br> {% if otherCourses :%} {% for course in relatedCourses: %}
            <a href="{{ url_for('courseDetails' ,courseId=course['_id']) }}" class="course">
                <div class="">
                    <div class="course-detl">
                        {{ course["courseName"] }}
                    </div>
                    <div class="bottom">
                        <hr>
                        <div class="teacher">
                            {{ course["teacherId"][0]["teacherName"] }}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %} {% else %}
            <h1>No CoursesFound </h1>
            {% endif %}

        </div>



        <!-- Full notifications  -->
        <!-- <div class="fullnotification">
            <div class="noti-part">
                <i class="fas fa-times close"></i>
                <h1>hello</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste voluptatum voluptate corrupti hic, excepturi maiores, magni ullam minus aspernatur, ut nesciunt quis omnis. Eveniet veniam provident incidunt perferendis laudantium temporibus!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem sapiente facere laborum quasi corrupti dignissimos voluptate officiis, tempora qui commodi dolorum ipsam deleniti sunt aut omnis saepe, obcaecati eaque nulla. Lorem, ipsum dolor
                    sit amet consectetur adipisicing elit. Fugit tempore sit eum animi molestiae ea itaque, dignissimos qui. Ipsam eos, rem vero ullam soluta facilis sequi incidunt enim debitis quae. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptas minus architecto, aspernatur doloribus facilis velit molestias aliquam ipsam vel corporis quia dolores voluptatum. Nulla aspernatur, error odio quam repudiandae dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Sed accusamus quis asperiores obcaecati aperiam quae eum totam cumque reiciendis aliquam, quibusdam doloremque quos veniam! Quo vel vitae enim! Beatae, modi?
                </p>
                <form action="" method="post">
                    <input type="hidden" name="">
                    <button type="submit">Edit</button>
                </form>
            </div>
        </div> -->

    </body>
    {% if isEnrolled %}
    <script>
        var announcements = {{notes | safe}};
        console.log("hai");
        console.log(announcements);
    </script>
    <script src="{{ url_for('static',filename='scripts/courseView.js') }}"></script>
    {% endif %}

{% endblock %}