<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/mainpage.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header>
    <div class="text">
        <h1>Hello!<br></h1>
        <h4>Start Exploring your Intrest</h4>
    </div>
    <div class="search-bar">
        <form action="">
            <label for="search"><i class="fa fa-search"></i></label>
            <input type="text" id="search" placeholder="Course Name">
        </form>
    </div>
</header>

<body>
    <div class="rigistered-courses">
        {% if courses :%} {% for course in courses: %}
        <a href="{{ url_for('courseDetails' ,courseId=course['_id']) }}" class="course">
            <div class="">
                <div class="course-detl">
                    {{ course["courseName"] }}
                </div>
                <div class="bottom">
                    <hr>
                    <div class="teacher">
                        {{ course["teacherId"][0]["teacherName"] }}
                    </div>
                </div>
            </div>
        </a>
        {% endfor %} {% else %}
        <h1>No CoursesFound </h1>
        {% endif %}

    </div>
</body>

</html>