{% extends "base.html" %}
{% block title %}
    <title>courseKart</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/mainpage.css') }}">
{% endblock %}

{% block content %}
    <div class="rigistered-courses">
        {% if courses :%} {% for course in courses: %}
        <a href="{{ url_for('courseDetails' ,courseId=course['_id']) }}" class="course">
            <div class="">
                <div class="course-detl">
                    {{ course["courseName"] }}
                </div>
                <div class="bottom">
                    <hr>
                    <div class="teacher">
                        {{ course["teacherId"][0]["teacherName"] }}
                    </div>
                </div>
            </div>
        </a>
        {% endfor %} {% else %}
        <h1>No CoursesFound </h1>
        {% endif %}

    </div>
{% endblock %}