.blu-btn {
    background-color: #9da4ff;
    color: #222121;
    font-weight: 900;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    width: 100px;
    text-align: center;
    border: 1px #333 solid;
    margin: 5px;
}

.right {
    position: absolute;
    right: 1rem;
}

.infos {
    display: flex;
    width: 98vw;
}

.course-title {
    margin: 1rem 0.5rem;
    width: 50%;
    border-radius: 5px;
    padding: 2rem;
    background: #ffffff;
    color: #262626;
    box-shadow: 0px 0px 2px 2px #373737;
}

.course-title * {
    color: #222121;
}

.course-title h1 {
    color: #3d3d3d;
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 2px 1px 1px rgb(1, 255, 242);
}

.course-title p {
    padding-top: 1rem;
    text-transform: capitalize;
    font-size: 18px;
    color: #3a3a3a;
    text-align: justify;
}

.course-title h5 {
    font-size: 15px;
    padding: 10px;
}

.enroll {
    font-size: 20px;
    width: 300px;
    position: relative;
    top: 20px;
    text-decoration: none;
}

.abt-teacher {
    width: 45%;
    text-align: center;
    margin: 1rem 0.5rem;
    border-radius: 5px;
    padding: 2rem;
    background: #ffffff;
    color: #262626;
    box-shadow: 0px 0px 2px 2px #373737;
}

.abt-teacher * {
    color: #222121;
}

.short-info img {
    width: 100px;
}

.short-info .stars {
    font-size: 15px;
    color: #fa3159;
}

.short-info .position {
    font-size: 12px;
}

.more-info p {
    font-size: 18px;
    color: #4b4b4b;
    text-align: justify;
}

.notes-assignments {
    display: flex;
}

.anouncements {
    margin: 1rem 0.5rem;
    width: 50%;
    border-radius: 5px;
    padding: 2rem;
    background: #ffff;
    box-shadow: 0px 0px 10px 2px #333;
}

.assignment {
    margin: 1rem 0.5rem;
    width: 45%;
    border-radius: 5px;
    padding: 2rem;
    background: #ffff;
    box-shadow: 0px 0px 10px 2px #333;
}

.all-announcements {
    max-height: 400px;
    overflow-y: scroll;
}

.announcement {
    padding: 15px;
    margin: 5px;
    max-height: 100px;
    overflow-y: hidden;
    background-color: #efefef;
    cursor: pointer;
    border-radius: 5px;
}

.announcement .announcement-head {
    position: relative;
}

.announcement .announcement-head h2 {
    color: #333;
}

.announcement .annu-disc {
    font-size: 15px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #393939;
}

.announcement .announcement-head span {
    position: absolute;
    font-size: 10px;
    font-weight: 900;
    bottom: 1px;
    right: 0.4rem;
}

.fullnotification,
.create-assignment,
.create-notes {
    position: fixed;
    background-color: #1a1a1af3;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.noti-part {
    background-color: #f1f1f1;
    padding: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.noti-part p {
    max-height: 300px;
    overflow-y: scroll;
}

.fullnotification form button {
    background-color: #3181fa;
    color: #f5f5f5;
    font-size: 15px;
    border: #0468fd;
    outline: none;
    padding: 3px 10px;
    position: absolute;
    right: 30px;
    font-weight: 900;
}

.create-notes #ass-titl,
.create-assignment #ass-titl {
    outline: none;
    font-size: large;
    font-weight: 900;
}

.close {
    position: absolute;
    right: 2rem;
    top: 1rem;
    font-size: 30px;
}

.create-notes,
.create-assignment {
    display: none;
}

.create-assignment input[type=submit],
.create-notes input[type=submit] {
    background-color: #3181fa;
    color: #f5f5f5;
    font-size: 20px;
    border: #0468fd;
    outline: none;
    padding: 3px 10px;
    font-weight: 900;
}

.rigistered-courses {
    display: inline-block;
    width: 98vw;
    padding: 2rem;
}

.course {
    display: inline-block;
    background-color: rgb(250, 250, 250);
    color: #272727;
    padding: 1rem;
    padding-top: 2rem;
    margin: 10px;
    border-radius: 10px;
    min-width: 150px;
    width: 350px;
    height: 200px;
    box-shadow: 0px 0px 8px 0.5px rgb(12, 1, 1);
    position: relative;
    overflow: hidden;
    text-decoration: none;
    z-index: 1;
}

.course .bottom {
    position: absolute;
    bottom: 2rem;
    width: 90%;
}

.course::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 0;
    width: 100%;
    height: 25%;
    background: #f5ff9d;
    transition: 0.5s;
}

.course:nth-child(4n+0)::before {
    background: #ff9de3;
}

.course:nth-child(4n+1)::before {
    background: #9dafff;
}

.course:nth-child(4n+2)::before {
    background: #9dffad;
}

.course .course-detl {
    color: #242424;
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 20px;
    z-index: 100;
}

.course .teacher {
    color: #4f4e4e;
    font-size: 15px;
    font-weight: 900;
    z-index: 100;
}

@media screen and (max-width: 992px) {
    .infos {
        display: block;
        width: 100vw;
    }
    .course-title {
        width: 98%;
    }
    .abt-teacher {
        width: 98%;
    }
    .notes-assignments {
        display: block;
    }
    .anouncements,
    .assignment {
        width: 91%;
    }
}